main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    overflow: auto;
    background-color: rgb(80, 151, 213);
    
    h1{
        font-size: 24px;
    }

    img{
        transform: rotate(10deg);
    }
}